body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    color: #bd8d5a;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 550;
    display: flex;
}

.container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    height: 60vh;
    box-shadow:  0 0 10px #a7896a;
    margin-top: 40px;
    margin-left: 160px;
}

h1{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

form label{
    display: block;
    margin-top: 30px;
    font-size: 18px;
}

input{
    width: 98%;
    padding: 8px;
    margin-top: 7px;
    box-sizing: border-box;
}

button{
    margin-top: 25px;
    width: 98%;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
    background-color:#bd8d5a;
    color: beige;
    border: none;
    cursor: pointer;
}

.heartbeat{
    color: red;
    animation: pulse 2s infinite;
    font-size: 23px;
    margin-right: 6px;
    margin-top: 6px;
}

@keyframes heartbeat-animation{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale (1.1);
    }
    59%{
        transform: scale(1);
    }
    75%{
        transform: scale (1.1);
    }
    100%{
        transform: scale(1);
    }
}

#result{
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
